.col-md-3,
.col-xs-12,
.col-sm-1{
	padding-right: 0px;
	padding-left: 0px;
}

.col-md-3{
	background-color: rgb(61, 65, 63);
	height: 800px;
}

.col-md-9{
	background: #838383; /* Old browsers */
	height: 800px;
}

.tablape{
	margin-top: 30px;
	width: 950px;
	margin-left: 25px;
}

.fil{
	margin-top: 1px;
	width: 980px;
	height: 50px;
}

.subfil{
	width: 750px;
}

.cel{
	background-color: rgb(204, 204, 154);
	margin-left: 1px;
	margin-right: 1px;
	width: 47px;
	height: 47px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #464646;
}

.cel:hover{
	cursor: pointer;
}

.ocul{
	background-color: #838383;
}

.num{
	margin-top: 2px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	font-weight: bold;
	text-align: right;
	font-size: 12px;
}

.simb{
	margin-top: 1px;
	width: 40px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

.nomb{
	margin-top: 0px;
	width: 40px;
	font-size: 9px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sepuno{
	margin-left: 849px;
}

.sepdos{
	margin-left: 531px;
}

.espacito{
	margin-left: 180px;
}

.chik{
	font-size: 8px;
}

.elemento{
	width: 300px;
	height: 250px;
	margin-left: 29px;
	margin-top: 20px;
	background-color: rgb(117, 201, 109);
	border-radius: 3px;
	padding-top: 20px;
}

.e-muestra{
	width: 260px;
	height: 210px;
	background-color: rgb(46, 41, 37);
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-shadow: 3px 3px 3px #000;
}

.btn-group{
	margin-left: 80px;
}

.btn-default{
	background-color: #6BB964;
	color: white;
	font-weight: bold;
}

.contenedor{
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}

.big-numero{
	height: 30px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	padding-top: 10px;
	font-weight: bold;
	text-align: right;
}

.big-simbolo{
	height: 100px;
	width: 110px;
	margin-left: auto;
	margin-right: auto;
	font-size: 80px;
	font-weight: bold;
	margin-top: 5px;
	display: inline;
}

.big-nombre{
	height: 30px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	margin-top: 5px;
	text-align: center;
}

.big-others{
	display: inline;
	height: 100px;
	width: 50px;
	float: right;
	padding-top: 30px;
	padding-left: 5px;
	color: white;
}

.men{
	margin-top: 40px;
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
}

.submenuno, .submendos, .submentres{
	display: none;
	background-color: rgb(77, 116, 77);
}

.men .nav>li>a{
	padding: 4px 15px;
	color:rgb(117, 201, 109);
}

#metales span{
	float: right;
}

#nometales span{
	float: right;
}

#metaloides span{
	float: right;
}

.submenuno .nav>li>a,.submentres .nav>li>a,.submendos .nav>li>a{
	color: white;
}

.submenuno .nav>li>a:hover, .submendos .nav>li>a:hover, .submentres .nav>li>a:hover{
	color: rgb(77, 116, 77);
}

.cel:hover{
	background-color:rgb(183, 201, 114);
	-webkit-transform: scale(0.97,0.97);
}

.num-grupo{
	background-color: yellow;
	width: 10px;
	height: 47px;
	display: inline-block;
	box-shadow: 2px 2px 2px #464646;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 20px;
	font-weight: bold;
}

.menors{
	width: 15px;
	box-shadow: none;
	background: rgba(25, 61, 34, 0.43);
	border-radius: 0px;
	height: 47px; 
	margin-left: 1px;
	margin-right: 1px;
	display: inline-block;
}

.menors:hover{
	background-color: rgb(5, 0, 7);
	cursor: pointer;
}

.jo{
	height: 45px;
	margin-bottom: 8px;
	margin-top: 21px;
	font-size: 20px;
	color: rgb(156, 206, 66);
	text-align: center;
	text-shadow:0.5px 0.5px 0.5px #000;
}

.grup{
	background: rgba(25, 61, 34, 0.43);
	margin-left: 1px;
	margin-right: 1px;
	width: 47px;
	height: 20px;
	display: inline-block;
	color: rgb(156, 206, 66);
	text-align: center;
	font-size: 15px;
	text-shadow:0.5px 0.5px 0.5px #000;
}
